* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  margin: 0 auto;
}

span {
  color: orange;
}
nav {
  background-color: #e1ebfa;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.links {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.link a span {
  color: #ffffff;
  padding: 10px 20px;
  background: orange;
}
.link a {
  text-transform: capitalize;
  color: black;
  padding: 0 40px;
  font-size: 23px;
}
.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.navbar li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  color: black;
  font-size: 20px;
}
.profile {
  display: flex;
  align-items: center;
  gap: 40px;
}
.profile img {
  width: 40px;
}
.cart-container {
  position: relative;
  display: inline-block;
}
.cart-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: rgb(235, 119, 10);
  color: white;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 50%;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}
.count {
  width: 0;
  margin: 0 auto;
  background-color: #33d8d0;
  position: absolute;
right: 0;
  height:auto;
  padding: 20px;
  display: none;

}
.count-nav{
    display: flex;
justify-content: space-between;
padding: 12px 16px;  
border-bottom:1px solid #000;

}
.inner{
    display: flex;
justify-content: space-between;
padding: 12px 16px;  
  align-items: center;
  border-bottom:none;
  border-radius: 8px;
  background-color: #8a8a8a;
  margin-bottom:20px 10px;



}
.total-container span{
  color: black;
}
.quantity{
  display: flex;
  padding: 0 10px;

}
.quantity p{
padding: 0 10px;
  border: 1px solid black;
  justify-items: center;;
}
.show-cart {
  width: 800px;
  display: block;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}
.hero h1 {
  line-height: 60px;
  font-size: 50px;
  font-weight: 900;
}

.hero-content {
  flex: 1;
}

#par1 {
  font-weight: 900;
  line-height: 20px;
  margin: 15px o;
  font-size: 17px;
  color: #8a8a8a;
  padding-bottom: 10px;
}

.search {
  display: flex;
}
.search-bar {
  display: flex;
  align-items: center;
  width: 45%;
  border-radius: 8px;
  border-radius: 8px 0px 0px 8px;
  border: 1px solid #ccc;
}
.search-bar input {
  font-size: 20px;
  text-transform: capitalize;
  border: none;
  align-items: start;
  outline: none;
  width: 100%;
  padding: 20px 20px 20px 10px;
}
.search-bar img {
  width: 50px;
  padding-left: 10px;
}

.search button {
  padding: 40px 50px;
  font-size: 20px;
  font-weight: bolder;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
.images {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.image {
  background-color: #f4f2fb;
  height: 30vh;
  width: 20vh;
  padding: 10px;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
}

.image img {
  background: black;
  width: 70px;
  border-radius: 50%;
  border: 10px solid black;
  object-fit: cover;
  margin-bottom: 25px;
}
.image p {
  font-size: 20px;
}

/*pizza images*/
.image-hero1 {
  flex: 1;
  text-align: center;
}

.image-hero1 img {
  width: 70%;
  /*max-width: 550px;*/
}

.img-hero {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.img-hero img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}
.menu {
  text-align: center;
  font-size: 40px;
  line-height: 60px;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  border-bottom: 3px solid #000;
}
li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 45px 0;
  color: black;
  font-size: 30px;
  font-weight: 80px;
}
.active {
  border-bottom: 7px solid orange;
  padding: 45px 40px;
  color: #eea539;
}

.menu-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 110px;
  height: auto;
  margin-top: 70px;
}

.pizza-category {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.card {
  text-align: center;
  width: 23%;
  height: 60vh;
  position: relative;
  flex-direction: column;
}
.card img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
}
.detail {
  padding-top: 170px;
  margin-top: -170px;
  height: 38vh;
  background: #f4f2fb;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
  top: 160px;
  left: 0;
  right: 0;
  z-index: -10;
}

.detail h2 {
  font-size: 25px;
  font-weight: bolder;
}
.detail p {
  color: #8a8a8a;
  padding: 20px 0;
  font-weight: bolder;
  font-size: 22px;
  padding: 15px 0;
}
#chick-img {
  border: 6px solid #000;
}

.btn {
  padding: 15px;
  width: 200px;
  color: white;
  background: black;
  border: none;
  outline: none;
  font-size: 22px;
  position: absolute;
  bottom: 25px;
  transform: translate(-50%);
}
.btn_view {
  text-align: center;
  padding: 20px 0;
  padding-bottom: 100px;
}
.btn_view button {
  background: #eea539;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 20px 90px;
  font-size: 25px;
  font-weight: bolder;
  text-transform: capitalize;
  margin: 60px 0;
}

/*......main*/

.main {
  display: flex;
  gap: 1em;
  line-height: 50px;
  width: 100%;
  padding-top: 10px;
}

.main img {
  width: 80%;
}

.why-us {
  display: flex;
  align-items: start;
  height: auto;
  margin: 0 auto;
  width: 85%;
}
.why-us-img {
  flex: 1;
}
.why-us-img img {
  width: 100%;
  height: 125vh;
}

.why-us-details {
  padding: 0 40px;
}
.why-us h3 {
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 30px;
}

.why-us h2 {
  font-size: 50px;
  padding: 35px 0;
  text-transform: capitalize;
}
.why-us p {
  line-height: 45px;
  font-size: 22px;
  padding-bottom: 2vh;
  padding-left: 20px;
  padding: 20px;
}

.why-us-details-cover {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 125vh;
}
.why-us-details2 {
  background: #f4f7fb;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.why-us-card {
  display: flex;
  align-items: center;
  margin: 60px 0;
  padding: 10px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  background: #dddddf44;
  border-radius: 10px;
}
.why-us-cards {
  display: flex;
  align-items: center;
  margin: 60px 0;
  padding: 20px;
  gap: 30px;
  box-shadow: 0 0 10px rgba(175, 173, 173, 0.05);
  background: #f4f7fb;
  border-radius: 10px;
}
.why-us-card img {
  object-fit: cover;
  background: #000;
  padding: 23px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.card-details h2 {
  color: #000000;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 35px;
  padding: 10px;
}
.card-details p {
  line-height: 25px;
  color: #8a8a8a;
  font-size: 20px;
}

.head {
  text-align: center;
  font-size: larger;
  line-height: 70px;
  align-items: start;
  font-size: large;
  margin-top: auto;
}

.support {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 15vj;
  height: auto;
  padding-bottom: 50px;
}

.support img {
  width: 20%;
  border-radius: 50%;
  align-items: center;
}
.email {
  height: 22vh;
  text-align: center;
  position: relative;
  width: 25%;
}
.email img {
  width: 80px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #f4f2fb;
  box-shadow: -10px -10px -10px 2px rgba(0, 0, 0, 0.15);
  object-fit: cover;
  padding: 25px;
}
.desc {
  background: #f4f2fb;
  padding: 20px;
  height: 18vh;
  top: 48px;
  left: 0;
  right: 0;
  z-index: -10;
  position: absolute;
}
.support p {
  color: #8a8a8a;
  font-size: 20px;
  padding: 12px 0;
}
.support h3 {
  padding: 12px 0;
}

/*.........footer*/
footer {
  background-color: black;
}
.final {
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 100px;
}

.final-1 {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.final-1 h3 {
  color: #ccc;
  padding: 20px 0;
  font-size: 30px;
  font-weight: bolder;
}

.footer-1 img {
  width: 300px;
  padding-bottom: 20px;
}
.logo-2 {
  display: flex;
  gap: 20px;
}
.logo-2 img {
  width: 50px;
}
.lnk-2 {
  display: flex;
  flex-direction: column;
}
.lnk-2 h3 {
  color: #ffffff;
  padding-bottom: 80px;
  font-size: 30px;
  font-weight: bolder;
}

.lnk-2 {
  gap: 10px;
}
.lnk-2 a {
  font-size: 1.5em;
  color: #ccc;
  text-decoration: none;
  display: flex;
}
.down-footer {
  display: flex;
  flex-direction: column;
}
.down-footer h3 {
  line-height: 40px;
  padding-bottom: 40px;
  color: #ccc;
  font-size: 30px;
  font-weight: bolder;
}
.search-bar-2 {
  display: flex;
  margin: 40px 0;
}

.search-bar-2 input {
  text-transform: capitalize;
  padding: 20px 20px;
  font-size: 16px;
  width: 350px;
  border: 1px solid #f4f7fb;
  border-right: none;
  border-radius: 8px 0 0 8px;
}
.search-bar-2 input::placeholder {
  color: #8a8a8a;
  font-size: 20px;
}
.search-bar-2 button {
  text-transform: capitalize;
  padding: 35px 30px;
  font-size: 20px;
  font-weight: bolder;
  background: #eea539;
  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: column;
  }
  .hero {
    display: flex;
    flex-direction: column;
  }

  .why-us {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 20px;
  }

  .why-us-img img {
    width: 100%;
    height: auto;
  }

  .why-us-details-cover {
    align-items: start;
    width: 100%;
    height: auto;
  }
  .why-us-details {
    padding: 20px 0;
  }
  .why-us-details h3 {
    font-size: 1.7em;
    padding-bottom: 0px;
  }
  .why-us-details h1 {
    font-size: 3em;
    line-height: 1.2em;
    padding: 0.7em 0;
  }

  .why-us-details-cover {
    align-items: start;
    width: 100%;
    height: auto;
  }
  .why-us-details {
    padding: 20px 0;
  }
  .why-us-details h3 {
    font-size: 1.7em;
    padding-bottom: 0px;
  }
  .why-us-details h1 {
    font-size: 3em;
    line-height: 1.2em;
    padding: 0.7em 0;
  }

  .why-us-card {
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin: 0 auto;
    margin: 2.3em 0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .why-us-card img {
    padding: 1.4em;
    height: auto;
  }
  .card-details h2 {
    font-size: 2em;
    padding: 0em;
  }
  .card-details p {
    line-height: 1.3em;
    font-size: 1.3em;
    width: 100%;
    padding: 0.6em 0;
  }
}
