*{
margin: 0;
padding: 0;
box-sizing: border-box;

}
.container{
width:90%;
margin:0 auto;}

span{
  color: orange;

}
nav{
     background-color: #e1ebfa;
}
.navbar{
  
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}
.links{
display: flex;
align-items: center;
text-decoration: none;
}
.link a span {
  color: #ffffff;
padding: 10px 20px;
background: orange;
 
}
.link a{
    text-transform: capitalize;
    color: black;
    padding: 0 40px;
    font-size: 23px;
   
  
}
.navbar ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.navbar li{
  text-decoration: none;
  display: flex;
  flex-direction: column;
    padding: 0 10px;
  color: black;
  font-size: 20px;
}
.profile{
  display: flex;
  align-items: center;
  gap: 40px;
}
.profile img{
  width: 40px;
}
.hero{
  display: flex;
  width: 90%;
 gap: 20px;
 padding: 20px;
 margin: 0 auto;
 justify-content: space-between;
 align-items: self-start;
 flex-wrap: wrap;
 line-height: 50px;
 

}
.hero h1{
  line-height: 60px;
  font-size: 50px;
}
#par1{
  font-weight: 900;
  line-height:50px;
  margin: 15px o;

}
.search-bar input{
  width: 60%;
  height: 100px;
  border: 1px solid grey;
  border-radius:0 8px 8px 0;
  border-right: none;
  padding: 40px 15px;
}


.search-bar button{
  padding: 40px 50px;
  font-size: 20px;
  font-weight: bolder;
  background: #000;
  color: #fdfcfc;
  border: none;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}
.images{
  display: flex;
  gap: 20px;
  margin-top: 20px;
 
}

.image{
background-color:#f4f2fb;
 height: 30vh;
 width: 20vh;
 padding: 20px;
 text-align: center;
margin-top: 40px;
padding-top: 70px;

}

.image img{
  background:black;
  width: 70px;
  border-radius: 50%;
  border: 10px solid black;
  object-fit: cover;
  margin-bottom: 25px;

}
.image p{
  font-size: 20px;
}



/*pizza images*/
.img-hero1{
  flex: 1;
  text-align: center;
  position: relative;
}
.img-hero1 img{
  width: 50%;
  max-width: 550px;
}
.img-hero{
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  
}
.img-hero img{
  width: 130px;
  object-fit: cover;
 

}
.images-hero{
  padding-left: 200px;

}
.img-1{
  padding-left: 500px;
  width: 70%;

}
.img-2{
  width: 18%;

}
.img-3{
  padding-right: 10px;
width: 15%;
  padding-top: 20px;
}
.menu{
  text-align: center;
  font-size: 40px;
  line-height: 60px;
  
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  border-bottom:3px solid #000;
  padding-bottom: 20px;
  padding-top: 20px;
}
.menu li{
  text-decoration: none;
  display: flex;
  flex-direction: column;
    padding: 0 10px;
  color: black;
  font-size: 20px;
  font-weight: 80px;

}
.chc{

    border-bottom: 3px solid orange;
  
}
.menu a::after{
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  left: 0;
  background: orange;
  transition: width 0.3s ease-in-out;
}
.menu a:hover::after{
  width: 100%;
}


.menu-details{
    display: flex;
  justify-content: center;
  gap: 110px;
  height: auto;
  margin-top: 70px;


}
.card{
  text-align: center;
  width: 23%;
  height: 60vh;
  position: relative;

}
.card img{
  width: 320px;
  height: 320px;
  border-radius: 50%;

  
}
.detail{
 padding-top: 170px;
 height: 38vh;
 background: #f4f2fb;
 box-shadow: 0 0 2 rgba(0,0,0,0.15);
 position: absolute;
 top: 160px;
 left: 0;
 right: 0;
 z-index: -10;
}

.detail h2{
  font-size: 25px;
  font-weight: bolder;
}
.detail p{
  color: #8a8a8a;
  padding: 20px 0;
  font-weight: bolder;
  font-size: 22px;
  padding: 15px 0;

}
#chick-img{
  border:6px solid #000;
}

.btn{
  padding: px;
  width: 200px;
  color: white;
  background: black;
  border: none;
  outline: none;
  font-size: 22px;
  position: absolute;
  bottom:25px;
  transform: translate(-50%);
 
}






/*......main*/



.main{
  display: flex;
  gap: 1em;
  line-height: 50px;
  width: 100%;
  padding-top: 10px;
}

.main img{
  width: 80%;
}
.why-us{
  display: flex;
align-items: start;
height: auto;
margin: 0 auto;
padding-top: 60px;

}

.why-us-img img{
  width: 100%;
  }

.why-us-details{
  padding: 0 40px;
}
.why-us h3{
  font-size: 25px;
  font-weight: 900;
  padding-bottom: 30px;
}

.why-us h2{
  font-size: 50px;
  padding :35px 0;
text-transform: capitalize;
}
.why-us p{
  line-height: 45px;
  font-size: 22px;
  padding-bottom: 2vh;
}
.why-us-card{
 
  align-items: center;
  margin: 20px 0;
  padding:120px;
  box-shadow: 0 0 10px rgba(0,0,0,.05);
  border-radius: 10px;
  background: #1873a015;
}
.why-us-cards{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 20px 0;
  padding: 20px;
  gap:10px;
  box-shadow: 0 0 10px rgba(0,0,0,.05);
  border-radius: 10px;
  background: #e7eceef1;
}
.why-us-card img{
  object-fit: cover;
  background: #000;
  padding: 23px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

























.head{
  text-align: center;
  font-size: larger;
  line-height: 40px;
}
.side img{
 background-color: black;
 border-radius: 50%;
 width: 90px;
 border: 10px solid rgb(5, 5, 5);
 padding: 10px 10px;
 align-items: center;
}

.support{
   display: flex;
 justify-content: center;
 gap: 50px;
 margin-bottom: 15vj;
 height: auto;
 padding-bottom: 50px;
}
.team h3{
  padding-left: 230px;
}

.support img{
  width: 20%;
border-radius: 50%;
align-items: center;
}
.email{
 height: 22vh;
 text-align: center;
 position: relative;
  width: 25%;


}
.email img{
  width: 80px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  background: #f4f2fb;
  box-shadow: -10px -10px -10px 2px rgba(0,0,0,0.15);
  object-fit: cover;
  padding: 25px;
}
.desc{
  background: #f4f2fb;
  padding: 20px;
  height: 18vh;
  top: 48px;
  left: 0;
  right: 0;
  z-index: -10;
  position: absolute;
}
.support p{
color: #8a8a8a;
font-size: 20px;
padding: 12px 0;
}
.support h3{
  padding: 12px 0;
}




footer{
  background-color: black; 
  padding: 100px;
  padding-top: 40px;
}
.final {
  color: white;
  display: flex;
  gap: 4em;
  justify-content: space-evenly;
}
.lnk ul{
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}
.lnk li{
  text-decoration: none;
}





@media screen and (max-width: 750px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
  .navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-direction: column;
  }
  .hero{
    display: flex;
    flex-direction: column;
  }
}